*{
    margin: 0 auto;
    padding: 0;
}

body li{
    list-style: none;
}

.slider {
    width: 100%; 
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
    display: none;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    background: midnightblue;
    border: #000000 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: midnightblue;
    margin-right: 10px;
    padding-top: 20px;
}

.slides > div > li{
    color: aliceblue;
}

.carousel-open{
    overflow: hidden;
}

.carousel-control {
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    color: #fff;
    border: #fff 2px solid;
    cursor: pointer;
    display: none;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    
}

.prev {
    left: 5px;
}
.next {
    right: 5px;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
    display: block;
}